{{- /* Comments area start */ -}}
<script
  src="https://giscus.app/client.js"
  data-repo="bitSheriff/bitSheriff.github.io"
  data-repo-id="MDEwOlJlcG9zaXRvcnkzNDg0MjMxNTE="
  data-category="[ENTER CATEGORY NAME HERE]"
  data-category-id="[ENTER CATEGORY ID HERE]"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="purple_dark"
  data-lang="en"
  crossorigin="anonymous"
  async
></script>
{{- /* Comments area end */ -}}
