<script
  type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
></script>

<link
  rel="alternate"
  type="application/rss+xml"
  href="{{.Site.BaseURL }}/index.xml"
  title="{{ .Site.Title }}"
/>

<script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
<script>
  kofiWidgetOverlay.draw("bitsheriff", {
    type: "floating-chat",
    "floating-chat.donateButton.text": "Support me",
    "floating-chat.donateButton.background-color": "#794bc4",
    "floating-chat.donateButton.text-color": "#fff",
  });
</script>
